<%= form_with(model: @league, url: leagues_path, method: :post) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :public_league %>
    <%= form.check_box :public_league %>
  </div>

  <div class="actions">
    <%= form.submit "Create League" %>
  </div>
<% end %>